*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  --primary-color:#F32424;
  --primary-background-color:#b82727;
  --secondary-color:#2424F3;
  --bg-color:#f1f1f1;
  font-family: 'Open Sans', sans-serif;
}
